
.my-courses-page-div{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.my-course-page-top-content{
  width: 74%;
  background-color: var(--color-background);
  position: fixed;
  top: 0;
  padding: 10px;
}

.my-course-page-top-content .page-header{
  display: flex;
  justify-content: space-between;
}

.my-course-page-bottom-content{
  padding: 0 var(--spacing-2);
}

